body {
    background-color: #f4f6f9;
}

.contenedor-productores {
    padding: 40px;
}

.header-productores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

    .header-productores h1 {
        font-size: 38px;
        font-weight: bold;
    }

    .header-productores p {
        color: gray;
    }

.tabla-container {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.tabla-productores th {
    background-color: #1d2b44;
    color: white;
}

.tabla-productores td,
.tabla-productores th {
    vertical-align: middle;
}

.acciones {
    display: flex;
    gap: 8px;
}
